/* gestionarRoles.css */

/* Contenedor principal */
.main-content {
    margin-left: 250px; 
    padding: 30px;
    background-color: #f1f5f8;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Botón Agregar Nuevo Rol */
.btn-agregar {
    background-color: #3792f6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-agregar i {
    font-size: 16px;
}

.btn-agregar:hover {
    background-color: #3792f6;
    transform: scale(1.05);
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #4a4a4a;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

/* Encabezado */
thead {
    background-color: #f8f9fa;
    color: #495057;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
}

th {
    padding: 11px 20px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

/* Celdas */
td {
    padding: 14px 20px;
    border-bottom: 1px solid #f1f3f5;
    vertical-align: middle;
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}


/* Hover en filas */
tbody tr:hover td {
    background-color: #eef2f7;
}

/* Botones de acción */
.action-btn {
    background-color: #3792f6;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 3px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-btn i {
    margin-right: 6px;
}

/* Botón eliminar */
.action-btn.delete {
    background-color: #ff0004;
}

.action-btn:hover {
    background-color: #3792f6;
    transform: scale(1.05);
}

.action-btn.delete:hover {
    background-color: #ff000d;
}
th:nth-child(1),
td:nth-child(1) {
    display: none;
}
